<h2 mat-dialog-title *ngIf="!isUpdateMode" >{{ isCreateTemplate ? "Create a new Template" : "Create a new meme"}}</h2>
<h2 mat-dialog-title *ngIf="isUpdateMode" >Update {{form.get('title')!.value}}</h2>

<mat-dialog-content>
    <form novalidate [formGroup]="form">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <div class="container" #container>
                        <mat-card>
                            <canvas #canvas>
                            </canvas> 
                            <app-dragbox [dragboxData] = "dragboxDatas" (updateDragboxData) = "updateDragboxData($event)" *ngFor="let dragboxDatas of dragboxesDatasInit"></app-dragbox>
                        </mat-card>
                    </div> 
                </td>
                <td style="vertical-align: top;">
                    <mat-form-field class="semi-width" [class.mgb15]="form.get('title')?.dirty && form.get('title')?.invalid">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Ex. My Custom Meme" formControlName="title" minlength="2" required name="title" />
                        <mat-error *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('minlength')">
                            Title is <strong>2 chars min</strong>
                        </mat-error>
                        <mat-error *ngIf="form.get('title')?.dirty && form.get('title')?.hasError('maxlength')">
                            Title is <strong>64 chars max</strong>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="semi-width" *ngIf="!isCreateTemplate" [class.mgb15]="form.get('description')?.dirty && form.get('description')?.invalid">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Ex. This meme is about..." formControlName="description" name="description" />
                        <mat-error *ngIf="form.get('description')?.dirty && form.get('description')?.hasError('maxlength')">
                            Description is <strong>255 chars max</strong>
                        </mat-error>
                    </mat-form-field>
                    <ng-container formArrayName="dragboxInputs" [class.mgb15]="form.get('dragboxInputs')?.invalid">
                        <ng-container  *ngFor="let dragboxInput of dragboxInputs.controls; let i = index" class="full-width" >
                            <div [formGroupName]="i" class="dragboxFields">
                                <mat-form-field style="width: 20%;" [class.mgb15]="dragboxInput?.get('text')?.dirty && dragboxInput?.get('text')?.invalid">
                                    <mat-label>Dragbox {{i}}</mat-label>
                                    <input matInput formControlName="text" name="{{i}}" required (input)="changeText($event,i)" />
                                </mat-form-field>
                                <mat-form-field  style="width: 20%" [class.mgb15]="dragboxInput?.get('color')?.dirty && dragboxInput?.get('color')?.invalid" >
                                    <input (input)="changeColor(i)" [style.background-color]="dragboxInput?.get('color')?.value?.rgba" matInput [ngxMatColorPicker]="picker" formControlName="color">
                                    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                                    <ngx-mat-color-picker (closed)="changeColor(i)" #picker></ngx-mat-color-picker>
                                </mat-form-field>
                                <mat-form-field style="width: 10%;" [class.mgb15]="dragboxInput?.get('fontSize')?.dirty && dragboxInput?.get('fontSize')?.invalid">
                                    <mat-label>Font Size</mat-label>
                                    <input matInput type="number" required min="1" max="100" formControlName="fontSize" name="{{i}}" value="dragboxInput?.get('fontSize').value" (input)="changeFontSize($event, i)" />
                                </mat-form-field>
                                <button mat-button title="Delete" (click)="deleteDragbox(i)">
                                    <mat-icon svgIcon="icon-delete"></mat-icon>
                                </button>
                                <mat-error *ngIf="!isCreateTemplate && dragboxInput?.get('text')?.dirty && dragboxInput?.get('text')?.hasError('required')">
                                    Dragbox content is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="dragboxInput?.get('fontSize')?.dirty && dragboxInput?.get('fontSize')?.hasError('required')">
                                    fontSize is required
                                </mat-error>
                                <mat-error *ngIf="dragboxInput?.get('fontSize')?.dirty && dragboxInput?.get('fontSize')?.hasError('min')">
                                    fontSize need to be min 1
                                </mat-error>
                                <mat-error *ngIf="dragboxInput?.get('fontSize')?.dirty && dragboxInput?.get('fontSize')?.hasError('max')">
                                    fontSize need to be max 100
                                </mat-error>
                                <mat-error *ngIf="dragboxInput?.get('color')?.dirty && dragboxInput?.get('color')?.hasError('required')">
                                    a color is required
                                </mat-error>
                            </div>
                        </ng-container>
                        <mat-error *ngIf="form.get('dragboxInputs')?.hasError('minlength')">
                            At least <strong>1 DragboxInput</strong> needed
                        </mat-error>
                        <mat-error *ngIf="form.get('dragboxInputs')?.hasError('maxlength')">
                            less than <strong>10 DragboxInput</strong> needed
                        </mat-error>
                    </ng-container>
                    <button mat-button type="button" (click)="addDragbox()" color="accent"  >
                        <i class="material-icons">add</i>
                    </button>
                </td>
            </tr>
        </table>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
