
<div class="target" #targetRef [ngStyle]="{transform: 'rotate(' + dragboxData.rot + 'deg)', left: dragboxData.left + 'px', top: dragboxData.top + 'px', width:dragboxData.width + 'px', height: dragboxData.height + 'px'}"></div>
<ngx-moveable
    #moveableRef
    [target]="targetRef"
    [draggable]="draggable"
    [throttleDrag]="throttleDrag"
    [edgeDraggable]="edgeDraggable"
    [startDragRotate]="startDragRotate"
    [throttleDragRotate]="throttleDragRotate"
    [scalable]="scalable"
    [keepRatio]="keepRatio"
    [throttleScale]="throttleScale"
    [renderDirections]="renderDirections"
    [rotatable]="rotatable"
    [throttleRotate]="throttleRotate"
    [rotationPosition]="rotationPosition"
    [persistData]="({left:500})"
    [snappable]="snappable"
    [bounds]="bounds"
    [origin]="origin"
    (render)="onRender($event)"
></ngx-moveable>
    

