<mat-card class="mat-whiteframe-2dp">
  <mat-card-header>
    <mat-card-title>
      <span>{{meme.title}}</span>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image #img src="" alt="">
  <mat-card-content *ngIf="meme.description">
    <p>
      {{ meme.description }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button title="Edit" [routerLink]="['/edit', meme.id]">
      <mat-icon svgIcon="icon-edit"></mat-icon>
    </button>
    <button mat-button title="Delete" (click)="delete(meme)">
      <mat-icon svgIcon="icon-delete"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>