/* mat-card{
    position: relative;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
} */
canvas{
    position: relative;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    /* max-width: 100%;
    max-height: 100%; */
}

.container {
    justify-content: center;
    align-items: center; 
    width: 400px;
    height: 600px;
    /* text-align: left; */
    /position: relative; 
}

.full-width {
    width: 100%;
  }