<h2 mat-dialog-title>Choose your template</h2>

<mat-dialog-content>
    <form novalidate [formGroup]="form">
        <mat-form-field>
            <mat-select formControlName="blankMeme" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let blankMeme of blanksMemes" [value]="blankMeme">
                    <img width="30" height="30" [src]="memesImgUrls[blankMeme.id!]" [alt]="blankMeme.title">
                    {{blankMeme.title}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('blankMeme')?.dirty && form.get('blankMeme')?.hasError('required')">
                Template Required
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" type="submit" (click)="submit(form.value.blankMeme)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
